<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post" style="max-width:600px;" th:object="${cheese}" class="form-inline">
        <input th:field="*{name}" placeholder="cheese name" />

        <input th:field="*{description}" placeholder="cheese desc" />

        <select th:field="*{type}">
            <option th:each="cheeseType : ${cheeseTypes}"
                    th:text="${cheeseType.name}"
                    th:value="${cheeseType}">
            </option>
        </select>

        <input type="submit" value="Add Cheese" class="btn btn-warning"/>

        <div>
            <p th:errors="*{name}" class="error"></p>
            <p th:errors="*{description}" class="error"></p>
            <p th:errors="*{type}" class="error"></p>
        </div>
    </form>

</body>
</html>