<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <span th:unless="${categories} and ${categories.size()}">
        <p>No categories! You must add one before you can add a cheese</p>
        <p><a th:href="@{/category/add}">Add Category</a></p>
    </span>

    <span th:if="${categories} and ${categories.size()}" >
        <form method="post" style="max-width:600px;" th:object="${cheese}" class="form-inline">
            <input th:field="*{name}" placeholder="cheese name" />

            <input th:field="*{description}" placeholder="cheese desc" />

            <select name="categoryId">
                <option th:each="category : ${categories}"
                        th:text="${category.name}"
                        th:value="${category.id}">
                </option>
            </select>

            <input type="submit" value="Add Cheese" class="btn btn-warning"/>

            <div>
                <p th:errors="*{name}" class="error"></p>
                <p th:errors="*{description}" class="error"></p>
            </div>
        </form>
    </span>

</body>
</html>