<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: navigation"></nav>


    <div class="container body-content">
        <h1 th:text="${title}">Default Title</h1>
        <ul class="list-inline">
            <li><a th:href="@{/cheese/add}">Add</a></li> |
            <li><a th:href="@{/cheese/remove}">Remove</a></li>
        </ul>

        <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>
        <table class="table" th:if="${cheeses} and ${cheeses.size()}" >

            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
            </tr>

            <tr th:each="cheese : ${cheeses}">
                <td><a th:href="@{'/cheese/edit/' + ${cheese.id}}" th:text="${cheese.name}"></a></td>
                <td th:text="${cheese.description}"></td>
                <td th:text="${cheese.category.name}"></td>
            </tr>

        </table>
    </div>

</body>
</html>