<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${category}" class="form-inline">
    <input th:field="*{name}" placeholder="category name" />

    <input type="submit" value="Add Category" class="btn btn-warning"/>

    <div>
        <p th:errors="*{name}" class="error"></p>
    </div>
</form>

</body>
</html>