<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container body-content">
        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <form method="post" style="max-width:600px;" th:object="${form}" action="/menu/add-item" class="form-inline">
            <select name="cheeseId">
                <option th:each="cheese : ${form.cheeses}" th:value="${cheese.id}" th:text="${cheese.name}" ></option>
            </select>

            <input type="submit" value="Add Cheese" class="btn btn-warning"/>

            <div>
                <p th:errors="*{cheeses}" class="error"></p>
            </div>

            <input type="hidden" name="menuId" th:value="*{menu.id}" />
        </form>

    </body>
</html>